.subscriptionTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.subscriptionTable th,
.subscriptionTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.subscriptionTable th {
    background-color: #f7f7f7;
}
